DB_NAME=database_name
DB_USER=database_user
DB_PASSWORD=database_password
DB_PREFIX=wp_

# Optional variables
# DB_HOST=localhost

WP_ENV=development
WP_HOME=http://mysite.com
WP_SITEURL=${WP_HOME}/wp