/vendor
.idea
wp-cli.local.yml
.env
.env.*
!.env.example
config/keys.php
auth.json

public/wp
public/.htaccess

public/content/debug.log
public/content/uploads
!public/content/uploads/.gitkeep
public/content/plugins/*
public/content/themes/twenty*
public/content/mu-plugins/*
!public/content/mu-plugins/app.php


